{% extends "layout.html" %}

{% block title %}Device Fingerprinting (DFP) Example{% endblock %}

{% block content %}
<div class="container">
    <h1>DEVICE FINGERPRINTING (DFP) EXAMPLE</h1>
    <h2>Log in to get started</h2>
    <button onclick="login()">Log in</button>
</div>

<script>
    const public_token = "{{ public_token }}";
    function login() {
        GetTelemetryID({
            publicToken: public_token
        }).then((telemetry_id) => {
            console.log("telemetry_id", telemetry_id)
            window.location.href = `/login?telemetry_id=${telemetry_id}`;
        });
    }
</script>
{% endblock %}
