{% extends "layout.html" %}
{% block content %}
<div class="input-mfa-container">
    <h1>Enter passcode</h1>
    <p>A 6-digit passcode was sent to you.</p>
    <form id="mfaInputForm">
        <div class="digit-input-container">
            {% for i in range(6) %}
            <input type="text" maxlength="1" class="digit-input" data-index="{{ i }}">
            {% endfor %}
        </div>
    </form>
</div>
<script>
    var public_token = "{{ public_token }}";
    var organization_id = "{{ organization_id }}";

    document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('.digit-input');

            inputs.forEach((input, index) => {
                input.addEventListener('input', function() {
                    if (this.value.length === 1) {
                        if (index < inputs.length - 1) {
                            inputs[index + 1].focus();
                        } else {
                            submitPasscode();
                        }
                    }
                });

                input.addEventListener('keydown', function(e) {
                    if (e.key === 'Backspace' && this.value.length === 0 && index > 0) {
                        inputs[index - 1].focus();
                    }
                });
            });

            function submitPasscode() {
                const code = Array.from(inputs).map(input => input.value).join('');
                if (code.length === 6) {
                    console.log('Submitting passcode:', code);
                    GetTelemetryID({
                        publicToken: public_token
                    }).then(telemetry_id => {
                        fetch('/authenticate-mfa-code', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-Telemetry-ID': telemetry_id
                            },
                            body: JSON.stringify({ code: code, organization_id: organization_id}),
                        })
                        .then(response => {
                            if (response.redirected) {
                                window.location.href = response.url;
                            } else {
                                return response.json();
                            }
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    });
                }
          }
    });
</script>
{% endblock %}
