{% extends "layout.html" %}
{% block content %}
<h2>Enter MFA Code</h2>
<form id="mfaInputForm">
    <div class="input-group">
        <input type="text" id="code" name="code" required autofocus>
    </div>
    <input type="hidden" id="organization_id" name="organization_id" value="{{ organization_id }}">
    <input type="hidden" id="member_id" name="member_id" value="{{ member_id }}">
    <button type="submit">Verify</button>
</form>
<script>
    var public_token = "{{ public_token }}";
    var organization_id = "{{ organization_id }}";

    document.getElementById('mfaInputForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const code = document.getElementById('code').value;
        GetTelemetryID({
            publicToken: public_token
        }).then(telemetry_id => {
            fetch('/authenticate-mfa-code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Telemetry-ID': telemetry_id
                },
                body: JSON.stringify({ code: code, organization_id:  organization_id}),
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    return response.json();
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        });
</script>
{% endblock %}
