<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://elements.stytch.com/telemetry.js"></script>
</head>
<body>
    <div class="page-container">
        <header>
            <nav>
                <div class="logoContainer">
                    <img src="{{ url_for('static', filename='stytch.svg') }}" alt="Stytch Logo" class="logo">
                    <div class="logoText">
                        <a href="/" class="logo-link">Adaptive MFA DFP(Example)</a>
                    </div>
                </div>
                <div class="nav-links">
                    <a href="https://stytch.com/docs/fraud/guides" target="_blank">Docs</a>
                    <a href="https://github.com/stytchauth/stytch-b2b-dfp-mfa-example" target="_blank">Github</a>
                    {% if member %}
                        <button onclick="logout()">Logout</button>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main class="content-container">
            {% block content %}{% endblock %}
        </main>
    </div>
    <script>
        function logout() {
            window.location.href = "/logout";
        }
    </script>
</body>
</html>
