{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-container">
    <h2>Welcome to "{{ organization.organization_name }}" Org</h2>
    <p>Email: {{ member.email_address }}</p>
    <p>Admin Role: {{ member.is_admin }}</p>
    <p>Organization Slug: {{ organization.organization_slug }}</p>
    {% if organization.email_jit_provisioning == 'NOT_ALLOWED' %}
        {% if member.is_admin %}
            <button type="submit" onClick="enableJIT()">Enable JIT Provisioning by Email Domain</button>
        {% else %}
            <p> JIT Provisioning: NOT_ALLOWED </p>
        {%endif %}
    {% else %}
        <p>JIT Provisioning Allowed for Domains: {{ organization.email_allowed_domains}} </p>
    {% endif %}

</div>
<script>
        function enableJIT() {
            window.location.href = `/enable_jit`;
        }
</script>
{% endblock %}