{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-container">
    <h2>Welcome to "{{ organization.organization_name }}" Org</h2>
    <div class="info-container">
        <p><strong>Email:</strong> {{ member.email_address }}</p>
        <p><strong>Admin Role:</strong> {{ member.is_admin }}</p>
        <p><strong>Organization Slug:</strong> {{ organization.organization_slug }}</p>
    {% if organization.email_jit_provisioning == 'NOT_ALLOWED' %}
        {% if member.is_admin %}
            <button type="submit" onClick="enableJIT()" class="enable-jit-button">Enable JIT Provisioning by Email Domain</button>
        {% else %}
            <p class="jit-status">JIT Provisioning: NOT_ALLOWED</p>
        {% endif %}
    {% else %}
        <p class="jit-status">JIT Provisioning Allowed for Domains: {{ organization.email_allowed_domains }}</p>
    {% endif %}
    </div>

    {% if known_devices %}
        <div class="known-devices-container">
            <h3>Known Device Fingerprints</h3>
            <table class="known-devices-table">
                <thead>
                    <tr>
                        <th>Fingerprints</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fingerprint in known_devices %}
                        <tr>
                            <td>{{ fingerprint }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
<script>
    function enableJIT() {
        window.location.href = `/enable_jit`;
    }
</script>
{% endblock %}
