{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block header %}<h1>Login to the {{ organization_name }} Organization</h1>{% endblock %}

{% block content %}
<h4>Organization Login allows you to host targeted sign-in pages for specific Organizations</h4>
<div class="login-container">
    <form action="/send_magic_link" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="hidden" id="organization_id" name="organization_id" value="{{ organization_id }}">
        <button type="submit">Send Magic Link</button>
    </form>
</div>
{% endblock %}